@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply min-h-screen py-16 px-0 flex flex-1 flex-col justify-start text-center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
